{% extends "base_generic.html" %}

{% block content %}
<div class="container mt-5">
    <center>
        <h2>{{ campaign.campaign_name }}</h2>
        <p>{{ campaign.campaign_description }}</p>
        <a href="{% url 'campaigns:scenes:create_scene' user.id campaign.id %}" class="btn btn-primary">Create Scene</a>
        <a href="{% url 'campaigns:characters:create_character' user.id campaign.id %}" class="btn btn-primary">Create Character</a>
    </center>
    <br>
    
    <div class="row align-items-start">
        <div class="col-md-6 pr-md-4 border-right">
            <h4 class="text-center">Scenes</h4>
            <div class="row">
                {% for scene in scenes %}
                    <div class="col-4">
                        <div class="card mb-4">
                            <div class="card-body">
                                <h5 class="card-title">{{ scene.name }}</h5>
                                <a href="{% url 'campaigns:scenes:scene_detail' user.id campaign.id scene.id %}" class="btn btn-secondary">View Scene</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-6 pl-md-4">
            <h4 class="text-center">Characters</h4>
            <div class="row">
                {% for character in characters.all %}
                    <div class="col-4">
                        <div class="card mb-4">
                            <div class="card-body">
                                <h5 class="card-title">{{ character.name }}</h5>
                                <p class="card-text">{{ character.backstory }}</p>
                                <a href="{% url 'campaigns:characters:character_detail' user.id campaign.id character.id %}" class="btn btn-secondary">View Character</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}